/* reset */
*{
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;
}


@import "html/shop";
@import "html/proyecto-fuego";
@import "html/contactenos";
@import "html/historia";
@import "html/index";
@import "html/navs"

@import "utilidades/extend";
@import "utilidades/mixin";
@import "utilidades/variables";
@import "utilidades/mediaqueries";





