@import "../utilidades/mediaqueries";
@import "../utilidades/extend";
@import "../utilidades/mixin";
@import "../utilidades/variables";

.contenedor-historia{
    height: 100vh; 
    padding-top: 2rem;
    gap: 10px;
    @extend %grid;

    .caja-historia{
        height:60vh;
        padding: 1rem 0rem 1rem 0rem;
        display: grid;
        grid-template-columns: 100% ;
        grid-template-rows: 50% 50% ;
        padding-bottom: 10%;
        gap: 1rem;
        font-family: 'Darumadrop One', cursive;
        font-size: 0.55rem;
    
        .hijo-historia{
            background-color: $bg-colour;
            @extend %objeto;
            flex-direction: row;
            }

        main div div img{
            height: 100%;
            object-fit: contain ;
            }
    }

}