.contenedor-fuego{
    height: 140vh;
    padding: 1rem;
    @extend %grid;
    font-size: 0.75rem;
    

    #escritorio{
        display: none;
    }

    main div div h2{
        @extend %display-align-justify;
    }

    #carouselWithControls{
        background-color:$bg-colour;
        
    }

}
