
@media screen and (min-width:1024px) {

    .navbar-nav .nav-link{
        font-size: 2rem;
        padding: 0.2rem;
    margin: 0.2rem;
    }
    .marca-registrada{
        font-size: x-large;    
    }

    footer{
        height: 15vh;
        justify-content: space-between;
        align-items: center;
        display: flex;
        margin: 1rem 0.2rem 0rem 0.2rem;
        padding: 0.2rem;
        bottom: 0;
    }

    .volver{
        border-radius: 10px;
        background-color: rgba(240, 196, 180, 0.473);
        font-size: large;
    }

    main form {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Darumadrop One', cursive;
    }

    #carousel-fuego{
        display: none;
    }

    #escritorio{
        display: block;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr) ;
        gap: 1rem;
        justify-items: center;
        align-items: start;
        height: 100vh;
    }

  
    .hijo-fuego{
        height: 10vh;
        object-fit: contain;
        padding: 1rem;
        font-family: 'Darumadrop One', cursive;
        font-size: 0.9rem;

    }

    .contenedor-fuego{
        height: 140vh;
        padding: 1rem;
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: 25% 60% 15% ;
        font-size: 1rem;
        
    }

    .contenedor-historia{
        height: 100vh;
        padding: 1rem;
    }
    .caja-historia{
        height: 60vh;
        display: flex;
        align-content: space-between;
        justify-content: space-between;
        
    }
    .hijo-historia{
        display: flex;
        flex-wrap:nowrap;
        font-size: 0.95rem;
    }

    .main-shop{
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
        font-family: 'Darumadrop One', cursive;
    }
    
    .contenedor-shop{
        height: 100vh;
        grid-template-rows: 25% 60% 15% ;

    }

    .caja-shop{
        padding-bottom: 10%;
        height: 100vh;
        display: grid;
        /*columnas*/
        grid-template-columns: repeat(2, 50%);
        /*filas*/
        grid-template-rows: repeat(4, 25%) ;
        gap: 1rem;
        font-family: 'Darumadrop One', cursive;

    }
    
    .hijo-shop{
        height: 12vh;
        background-color: rgba(0, 0, 0, 0.178);
        display: flex;
        object-fit: contain;
        text-align: center;
        object-position: center;
        font-size: 1.5rem;
        
    }
}

@media screen and (min-width:768px){
    
    .navbar-nav .nav-link {
        font-size: large;
        padding: 0.2rem;
        margin: 0.05rem;
        background-color: rgba(0, 0, 0, 0.075);
        align-items: center;
        align-content: center;
    }


    footer{
        height: 15vh;
        justify-content: space-between;
        align-items: center;
        display: flex;
        margin: 1rem 0.2rem 0rem 0.2rem;
        padding: 0.2rem;
        bottom: 0;
   
        .marca-registrada{
                font-size: x-large;    
            }

        .volver{
            border-radius: 10px;
            background-color: rgba(240, 196, 180, 0.473);
            font-size: large;
        }
    }

    .caja-historia{
        
        font-size: 1rem;
    }

    main form {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Darumadrop One', cursive;
    }

    .hijo-shop{
        font-size: 1.2rem;
        
    }
}



