@mixin bienvenidos($font-size){
    font-size: $font-size;
    display: flex;
    text-align: center;
    text-justify: center;
    font-family: 'Darumadrop One', cursive;
}

@mixin fuente-small{
    font-size: small;
    font-family: 'Darumadrop One', cursive;
}

@mixin main-shop{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-family: 'Darumadrop One', cursive;
}

